---
import ButtonLink from "./ButtonLink.astro";

const {titleCard, imgPath, nameCard} = Astro.props
---

<script>
    const paiCategoria = document.querySelector(".categoria-card-pai")
    const nomeCategoria = document.querySelector("#name-categoria")?.innerHTML

    paiCategoria?.addEventListener('click', () => {
    window.open(`/produtos?productSelect=${nomeCategoria}`)
    })
</script>

<div class="categoria-card-pai flex flex-col max-w-[400px] h-[520px] justify-between transition-transform duration-300 hover:scale-[1.02]">
    <div class="flex flex-col">
        <span class="absolute hidden" id="name-categoria">{nameCard}</span>
        <div class="bg-black rounded-lg">
            <img class="w-full rounded-lg cursor-pointer transition duration-300" src={imgPath} alt="estações de call center">
        </div>
        
        <h3 class="py-4 text-lg font-[500]">{titleCard}</h3>
        <slot />
    </div>

    <div class="bg-button-dark">
        <ButtonLink colorTextButton="text-gray-800" redirectTo={`/produtos?productSelect=${nameCard}`} nameButton="Ver mais" />
    </div>
</div>
